.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.nav-title-buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2vh 2vw;
  width: 100%;
}

.share-like-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.nav-title-buttons button {
  background: none;
  border: none;
  margin: 0;
  width: 80px;
}

p {
  text-align: center;
}

.nav-title-buttons img {
  margin: 5px;
}

article {
  margin: 2vh 2vw;
}

h4 , h3 {
  margin: 0;
}

.details-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
}

.button-container {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: center;
  width: 100%;
}

.button-container button {
  bottom: 0;
  margin: 0;
  position: fixed;
  width: 120px;
}

.recommendations-container {
  align-items: center;
  display: flex;
  margin: 0 10vw;
  overflow: hidden;
}

.recommendations-card {
  align-items: center;
  display: flex;
  flex: 1 0 50%;
  flex-direction: column;
}
