.Footer {
  background-color: white;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.Footer a:first-child {
  margin-left: 10px;
}

.Footer a:last-child {
  margin-right: 10px;
}
