.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position:fixed;
  bottom:0;
  width:100%;
  background-color: white;
  border-radius: 1px;
  border-style: double hidden hidden hidden;
  border: black none none none;
}