body {
  background-color: rgba(255,240,119);
}

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 50%;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
}

input {
  background-color: #d3d3d3;
  border-radius: 0.5rem;
  margin: 5px;
  padding: 5px;
  position: relative;
}
