.centralizar {
  text-align: center;
}

.button-category {
  border: 1px solid #25692a;
  border-radius: 4px;
  background-color:rgba(148,193,98);
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  margin: 2px;
  padding: 6px 10px;
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cardBorder {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: xx-small;
  margin: 6px;
  width: 46%;
  background-color:rgba(148,193,98);
}
