#meals {
  height: 100vh;
  width: 100%;
  background: #0fa36b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: #464646;
}

#iceLeft {
  /* transform-origin set in px for firefox compatibility */
  opacity: 0.6;
  transform-origin: 36px 66px;
  animation: clink .8s infinite ease;
}

#Login {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#Login > input {
  margin: 1%;
}

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
